
<script src="/path/to/handlebars.min.js"></script>


SEARCH FOR PRODUCE: <select name="playlist" id="playlist-selector"> 
      {{#each grocery_dropdown}}
      <option value="{{id}}">{{name}}</option>
                   {{/each}}
    </select><br>
</script>